<div class="container">
  <h1> Tasks</h1>
  <h2> <%= @task.title %></h2>

  <p> <%= @task.details %></p>

  <p> This tag is <%= @task.completed? ? "completed" : "pending" %></p>

  <br>

  <%= link_to "Back to list" , tasks_path , class: "btn btn-danger"%>
  <br><br>

  <%= link_to "edit this task", edit_task_path , class: "btn btn-warning" %>

</div>
